@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.lessonimg {
  width: 70px;
  height: 70px;
  float: left;
  padding-right: 0.5rem;
}
.lessonContainer {
  clear: both;
  width: 335px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: whitesmoke;
  & p:nth-child(2) {
    margin-bottom: 0.5rem;
  }
}
.lessonVar {
  color: orange;
}
